body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  font-size: 15px;
}

/* Carlo  */
/*em {
  color: #7cccbd;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 110%;
  font-size: 12px;
  padding: 5px 16px !important;
  color: #ffffff;
  border-radius: 20px;
  background: #319aab;
  font-style: normal !important;
}*/

/*https://medium.com/@AJMDesignStudio/styling-bold-and-italic-fonts-using-css-26fd0b28b4*/
